html[lang="zh-Hant"] {
  .rts-intenisty-list-text::before {
    content: "震度排序";
  }
  .max-intensity-text::before {
    content: "強震最大震度";
  }
  .max-pga-text::before {
    content: "最大加速度";
  }
}

.max-intensity-pga-wrapper {
  position: absolute;
  top: 10rem;
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  padding: 8px;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
}

.max-station-intensity {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 5;
  border-radius: 12px;
}

.max-intensity-text {
  font-size: 14px;
}

.max-pga {
  border-radius: 5px;
  background: #505050c7;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
}

.max-intensity {
  padding: 8px;
  border-radius: 5px;
  background: #505050c7;
}

.max-station-pga {
  background-color: #000;
  border-radius: 0px;
  font-size: 12px;
  margin-top: 5;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.max-pga-text {
  font-size: 14px;
}

/**即時震度列表外包**/
.rts-intensity-list-wrapper {
  position: absolute;
  display: flex;
  bottom: 60px;
  max-height: 300px;
  width: 215px;
  margin-right: 8px;
  right: 19.5rem;
  min-height: 180px;

  .rts-intensity-list-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    color: white;
    z-index: 1001;
    justify-content: flex-end;

    .rts-intensity-list-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      min-height: 0;
      padding: 10px;
      border-radius: 5px;
      background-color: #505050c7;

      /**標題**/
      .rts-intenisty-list-text {
        font-size: 17px;
        font-weight: 700;
      }

      /**列表**/
      .rts-intensity-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 0;
        border-radius: 10px;
        overflow-y: hidden;

        &:hover {
          overflow-y: auto;
        }

        /**物件**/
        .rts-intensity-item {
          display: flex;
          background-color: #383838;
          border-radius: 10px;
          border: 1px solid #27272778;

          /**震度**/
          .rts-intensity {
            width: 44px;
            height: 23px;
            border-radius: 10px;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          /**位置**/
          .rts-loc {
            padding-left: 27px;
            font-size: 13px;
            font-weight: 500;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
