@import url("./eew/eew.css");
@import url("./report/box.css");

body {
  user-select: none;
  margin: 0;
  font-family: "Lato", "Noto Sans TC", sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;

  --surface-hsl: 0deg 0% 25%;
  --surface-variant-hsl: 0deg 0% 20%;
  --background-hsl: 0deg 0% 13%;
  --background-variant-hsl: 0deg 0% 16%;
}

.map {
  height: 100%;
  width: 100%;
}

.connect {
  position: absolute;
  bottom: 0.3em;
  border-radius: 5px;
  color: red;
  border: 2px solid #00000008;
  background-color: #00000075;
  display: flex;
  align-items: center;
  z-index: 1001;
  margin-left: 5px;
  padding: 3px;

  .time {
    font-size: 15px;
  }
}