html[lang="zh-Hant"] {
  .rts-intenisty-list-text::before {
    content: "各地震度排序";
  }

  .max-intensity-text::before {
    content: "最大觀測震度";
  }

  .max-pga-text::before {
    content: "最大加速度";
  }

  .max-station-pga:empty::before {
    content: "0.00 gal";
  }
}

.max-intensity-pga-wrapper {
  position: absolute;
  top: 9.8rem;
  color: white;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.41, -0.86, 0.76, 1.89);

  .rts-info-box {
    background-color: #505050c7;
    color: white;
    font-size: 11px;
    border: 2px solid #00000008;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-top: 5;
  }

  .rts-info-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.max-station-intensity {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  margin-top: 5;
  border-radius: 12px;
  font-weight: bold;
}

.max-intensity-text {
  font-size: 14px;
}

.max-pga {
  border-radius: 5px;
  background: #505050c7;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  border: 1px solid #515151;
}

.max-intensity {
  padding: 8px;
  border-radius: 5px;
  background: #505050c7;
  border: 1px solid #515151;
}

.max-station-pga {
  border-radius: 0px;
  font-size: 12px;
  margin-top: 5;
  height: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.max-pga-text {
  font-size: 14px;
}

.rts-intensity-list-wrapper:has(.rts-intensity-list:empty) {
  display: none;
}

/**即時震度列表外包**/
.report-wrapper.hidden ~ .rts-intensity-list-wrapper {
  transform: translateX(215%);
}

.rts-intensity-list-wrapper {
  position: absolute;
  display: flex;
  bottom: 5px;
  max-height: 300px;
  width: 145px;
  margin-right: 8px;
  right: 19.5rem;
  min-height: 180px;
  transition: transform 0.6s ease;
  pointer-events: none;

  .rts-intensity-list-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    color: white;
    z-index: 1001;
    justify-content: flex-end;

    .rts-intensity-list-container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      min-height: 0;
      padding: 6px;
      border-radius: 5px;
      background-color: #505050c7;

      /**標題**/
      .rts-intenisty-list-text {
        font-size: 14px;
        font-weight: 700;
        text-align: center;
      }

      /**列表**/
      .rts-intensity-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 0;
        border-radius: 4px;
        overflow-y: hidden;

        &:hover {
          overflow-y: auto;
        }

        /**物件**/
        .rts-intensity-item {
          display: flex;
          background-color: #383838;
          border-radius: 5px;
          border: 1px solid #27272778;

          /**震度**/
          .rts-intensity {
            font-family: Manrope, sans-serif;
            width: 24px;
            min-width: 24px;
            min-height: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
          }

          /**位置**/
          .rts-loc {
            font-size: 14px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            width: 100%;
          }
        }
      }
    }
  }
}
