/**RWD**/
@media (max-width: 980px) {
  .info-wrapper {
    width: 16.1em;
  }

  .info-nsspe {
    font-size: 15px !important;
  }

  .info-depth {
    width: 90px !important;
  }

  .info-mag-val,
  .info-depth-val {
    font-size: 20px !important;
    margin-top: 3px !important;
  }

  .report-depth-val {
    font-size: 25px !important;
    margin-top: -2px !important;
  }

  .report-depth-val {
    &:after {
      font-size: 16px !important;
    }
  }

  .report-mag-val,
  .info-mag-val {
    &:before {
      font-size: 20px !important;
    }
  }

  .info-depth-val {
    &:after {
      font-size: 17px !important;
    }
  }

  .info-mag-text,
  .info-depth-text,
  .report-mag-text,
  .report-depth-text {
    font-size: 24px !important;
  }

  .info-title-box {
    width: 55px !important;
    height: 55px !important;
    font-size: 35px !important;
    line-height: unset !important;
  }

  .max-station-intensity {
    width: 55px !important;
    height: 55px !important;
  }

  .max-intensity {
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }

  .max-intensity-pga-wrapper {
    width: 9.3em;
  }

  .info-body-wrapper {
    min-height: 85px !important;
  }

  .station-pga-wrapper {
    top: 9.5rem !important;
    left: 0.3rem !important;
  }

  .current-station-pga {
    width: 215px !important;
  }

  .max-intensity-pga-wrapper {
    display: flex !important;
    flex-direction: column-reverse !important;
    top: 12.8rem !important;
  }

  .max-pga {
    left: 4.5rem !important;
    position: relative !important;
    height: 35px !important;
    margin-top: 4px !important;
    width: 80px;
  }

  .max-intensity {
    margin-top: 5px !important;
    padding: 3px !important;
    width: 85px;
  }

  #max-pga {
    margin-top: 0px;
  }

  .info-footer {
    margin-top: -5px;
  }

  .rts-info-box {
    height: 35px;
    justify-content: center;
    margin-top: 3px !important;
  }

  .report-box-item-contain:first-child {
    .report-loc {
      font-size: 21px !important;
    }

    .report-mag-val {
      font-size: 25px !important;
      margin-top: -2px !important;

      &:before {
        font-size: 24px !important;
      }
    }
  }
  .report-loc {
    font-size: 18px !important;
  }

  .report-box-items {
    width: 285px !important;
  }

  .report-wrapper {
    width: 315px !important;
  }

  .rts-intensity-list-wrapper {
    transform: translateX(15%);
  }

  .current-version-view {
    transform: translateX(5%);
  }

  .fab {
    margin-top: -10px;
  }
}

/**RWD**/
@media (max-height: 660px) {
  .intensity-color-list {
    height: 185px !important;
  }
}

@media (max-height: 635px) {
  .intensity-color-list {
    display: none !important;
  }
}
