html[lang="zh-Hant"] {
  .current-station-intensity-text::before {
    content: "震度";
  }

  .current-station-pga-text::before {
    content: "加速度";
  }
}

.station-pga-wrapper {
  position: absolute;
  left: 7.5rem;
  top: 10.3rem;
  color: white;
  font-size: 11px;
  font-weight: 500;
  width: 220px;
  height: 50px;
  display: flex;
  margin-right: 5px;
  flex-direction: column;

  .current-station-pga {
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
    background-color: #505050c7;
    color: white;
    font-size: 11px;
    border: 2px solid #00000008;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    pointer-events: none;
    display: flex;
    flex-direction: row-reverse;
    width: 215px;
  }

  .current-station-intensity {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
  }

  .current-station-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 170px;
  }

  .current-station-intensity-pga {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin-top: 2;
    font-weight: bold;
  }

  .current-station-intensity-box {
    display: flex;
  }

  .current-station-loc {
    font-size: 17px;
    font-weight: bold;
    text-align: start;
    margin-left: 13px;
  }

  .current-station-intensity-text {
    margin-right: 3;
  }

  .current-station-pga-text {
    margin-right: 3;
  }
}
