html[lang="zh-Hant"] {
  .max-station-pga-text::before {
    content: "最大測站";
  }

  .current-station-pga-text::before {
    content: "目前測站";
  }
}

.station-pga-wrapper {
  position: absolute;
  right: 19.5rem;
  bottom: 0px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  width: 220px;
  height: 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 5px;

  #max-station-pga,
  #current-station-pga {
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
  }

  .max-pga {
    margin-top: 5px;
    border-radius: 5px;
    padding: 2px;
    border: 1px solid #2f2f2f;
  }

  .rts-info-box {
    display: flex;
    justify-content: space-between;
  }

  .max-station-pga,
  .current-station-pga,
  .rts-info-box-contain {
    background-color: #0000002b;
    width: 60px;
    color: white;
    font-size: 11px;
    border: 2px solid #00000008;
    padding: 3px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    font-weight: 500;
    pointer-events: none;
    min-height: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
