<html lang="zh-Hant">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/core/maplibre-gl.css" />
  </head>

  <body>
    <div id="map" class="map"></div>

    <!--緊急速報 info box-->
    <div class="info-wrapper">
      <div class="info-title">
        <div class="info-unit info-unit-none"></div>
        <div class="info-number info-number-no">1</div>
      </div>
      <div class="info-body-wrapper">
        <div class="info-box">
          <div class="info-title-wrapper">
            <div class="info-title-box intensity-9" id="info-intensity">7</div>
            <div class="info-intensity"></div>
          </div>
          <div class="info-more">
            <div class="info-loc">花蓮縣壽豐鄉</div>
            <div class="info-mag-dep">
              <div class="info-mag">
                <div class="info-mag-text"></div>
                <div class="info-mag-val">5.5</div>
              </div>
              <div class="info-depth">
                <div class="info-depth-text"></div>
                <div class="info-depth-val">20</div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-footer">
          <div class="info-footer-container">
            <span>2024-10-31 00:50:00</span>
          </div>
          <div class="info-nsspe"><span></span></div>
        </div>
      </div>
    </div>

    <!--震度階-->
    <div class="intensity-color-list-wrapper">
      <ul class="intensity-color-list">
        <li class="intensity-li intensity-num-0"><span></span>0</li>
        <li class="intensity-li intensity-num-1"><span></span>1</li>
        <li class="intensity-li intensity-num-2"><span></span>2</li>
        <li class="intensity-li intensity-num-3"><span></span>3</li>
        <li class="intensity-li intensity-num-4"><span></span>4</li>
        <li class="intensity-li intensity-num-5"><span></span>5</li>
        <li class="intensity-li intensity-num-6"><span></span>6</li>
        <li class="intensity-li intensity-num-7"><span></span>7</li>
      </ul>
    </div>

    <!--最大gal & 所在地gal-->
    <div class="station-pga-wrapper">
      <div class="max-station-pga">
        <div class="max-station-pga-text"></div>
        <div class="intensity-0 max-pga">0.00 gal</div>
      </div>
      <div class="current-station-pga">
        <div class="current-station-pga-text"></div>
        <div class="intensity-0 max-pga">0.00 gal</div>
      </div>
      <div class="rts-info-box-contain">
        <div class="rts-info-box">
          <div>level</div>
          <div>0</div>
        </div>
        <div class="rts-info-box">
          <div>trigger</div>
          <div>0</div>
        </div>
      </div>
    </div>

    <!--即時震度-->
    <div class="rts-intensity-list-wrapper">
      <div class="rts-intensity-list-box">
        <div class="rts-intensity-list-container">
          <div class="rts-intenisty-list-text"></div>
          <div class="rts-intensity-list">
            <div class="rts-intensity-item">
              <div class="rts-intensity intensity-5">5⁻</div>
              <div class="rts-loc">花蓮縣花蓮市</div>
            </div>
            <div class="rts-intensity-item">
              <div class="rts-intensity intensity-3">3</div>
              <div class="rts-loc">花蓮縣壽豐鄉</div>
            </div>
            <div class="rts-intensity-item">
              <div class="rts-intensity intensity-2">2</div>
              <div class="rts-loc">花蓮縣鳳林鎮</div>
            </div>
            <div class="rts-intensity-item">
              <div class="rts-intensity intensity-0">0</div>
              <div class="rts-loc">宜蘭縣冬山鄉</div>
            </div>
            <div class="rts-intensity-item">
              <div class="rts-intensity intensity-0">0</div>
              <div class="rts-loc">花蓮縣萬榮鄉</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--地震報告列表-->
    <div class="report-wrapper">
      <div class="report-scroll">
        <div class="report-contain">
          <div class="report-box">
            <div class="report-box-items">
              <div class="report-box-item-contain first">
                <div class="report-intensity-box">
                  <div class="report-intensity-val intensity-2">2</div>
                  <div class="report-intensity-text"></div>
                </div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">嘉義縣中埔鄉</div>
                    <div class="report-time">2024-10-30 12:08</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag">
                      <div class="report-mag-text"></div>
                      <div class="report-mag-val">5.5</div>
                    </div>
                    <div class="report-depth">
                      <div class="report-depth-text"></div>
                      <div class="report-depth-val">20</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="report-box-item-contain">
                <div class="report-intensity-val intensity-2">2</div>
                <div class="report-info-box">
                  <div class="report-info-item">
                    <div class="report-loc">花蓮縣秀林鄉</div>
                    <div class="report-time">2024-10-30 03:05</div>
                  </div>
                  <div class="report-mag-dep">
                    <div class="report-mag-text report-mag-dep">
                      <div class="report-mag-val Normal">4.2</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--連線狀態、時間-->
    <div class="connect">
      <div class="time time-error" id="time">0000-00-00 00:00:00</div>
    </div>

    <!--右上角目前版本號-->
    <div class="current-version-view">
      <div class="current-version">2.0.0-pre.1</div>
    </div>

    <!--左下角檢查版本號-->
    <div class="version-check new">
      <div class="version-check-body">
        <div class="version-check-text"></div>
        <div class="version-check-box">
          <div class="current-version">2.0.0-pre.1</div>
        </div>
      </div>
    </div>

    <script src="../js/require.js" defer></script>
  </body>
</html>
