<html lang="zh-Hant">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/main/eew.css" />
    <link rel="stylesheet" href="../css/core/maplibre-gl.css" />
  </head>

  <body>
    <div id="map" class="map"></div>

    <div class="info-wrapper">
      <div class="info-title">
        <div class="info-unit info-unit-none"></div>
        <div class="info-number info-number-no">1</div>
      </div>
      <div class="info-body-wrapper">
        <div class="info-box">
          <div class="info-title-wrapper">
            <div class="info-title-box intensity-9" id="info-intensity">7</div>
            <div class="info-intensity"></div>
          </div>
          <div class="info-more">
            <div class="info-loc">花蓮縣壽豐鄉</div>
            <div class="info-mag-dep">
              <div class="info-mag">
                <div class="info-mag-text"></div>
                <div class="info-mag-val">5.5</div>
              </div>
              <div class="info-depth">
                <div class="info-depth-text"></div>
                <div class="info-depth-val">20</div>
              </div>
            </div>
          </div>
        </div>
        <div class="info-footer">
          <div class="info-footer-container">
            <span>2024-10-31 00:50:00</span>
          </div>
          <div class="info-nsspe"><span></span></div>
        </div>
      </div>
    </div>

    <script src="../js/require.js" defer></script>
  </body>
</html>
