<html lang="zh-Hant">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/core/loading.css" />
  </head>

  <body class="setting">
    <div class="setting-wrapper">
      <div class="setting-container">
        <div class="setting-header">
          <div class="usr-account-info-wrapper">
            <div class="usr-account-info-container">
              <div class="usr-account-info-content show-account-info">
                <div class="account">尚未登入</div>
                <div class="vip_time"></div>
                <div class="login-btn">登入</div>
                <div class="logout-btn">登出</div>
              </div>
              <div class="login-forms-content">
                <div class="login-form-input">
                  <input type="text" id="email" placeholder="信箱" />
                  <input type="password" id="password" placeholder="密碼" />
                  <span class="login_msg error"></span>
                  <div id="form-login" class="login-btn">登入</div>
                  <div target="_blank" href="javascript:;" id="forget">
                    <span>忘記密碼？</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="setting-buttons">
            <div class="button setting-general on" for="general">
              <span>一般</span>
            </div>
            <div class="button setting-graphics" for="graphics">
              <span>圖形</span>
            </div>
            <div class="button setting-sound-effects" for="sound-effects">
              <span>音效</span>
            </div>
            <div class="button setting-extended" for="extended">
              <span>擴充</span>
            </div>
            <div class="button setting-info" for="info"><span>關於</span></div>
          </div>
        </div>
        <div class="setting-content">
          <div class="top-frame"></div>
          <div class="windows-wrapper">
            <div class="windows-buttons minimize">━</div>
            <div class="windows-buttons close">✖</div>
          </div>
          <!--一般-->
          <div class="setting-options-page general active">
            <div class="setting-page-title">一般</div>

            <div class="setting-item-wrapper">
              <div class="setting-item-content">
                <span class="setting-item-title">所在地</span>
                <span class="description">
                  設定所在地可以在地震發生時預估你所在區域的地震震度。
                </span>
                <div class="setting-option usr-location">
                  <div class="location">
                    <span class="current-city">未知</span>
                    <span class="separate">-</span>
                    <span class="current-town">未知</span>
                    <svg
                      class="selected-btn"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path
                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                        fill="#ffffff"
                      ></path>
                    </svg>
                  </div>
                  <div class="select-wrapper">
                    <div
                      class="select-selected current-local"
                      style="display: none"
                    >
                      選擇地區
                    </div>
                    <div class="select-items local">
                      <div>北部</div>
                      <div>中部</div>
                      <div>南部</div>
                      <div>東部</div>
                      <div>外島</div>
                      <div>南韓</div>
                      <div>中國</div>
                    </div>
                    <div
                      class="select-selected current-city"
                      style="display: none"
                    >
                      選擇城市
                    </div>
                    <div class="select-items city"></div>
                    <div
                      class="select-selected current-town"
                      style="display: none"
                    >
                      選擇城鎮
                    </div>
                    <div class="select-items town"></div>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">即時測站</span>
                <span class="description">
                  顯示於主畫面左上方的即時測站。
                </span>
                <div
                  id="realtime-station"
                  class="setting-option realtime-station"
                >
                  <div class="location">
                    <span class="current-station"></span>
                    <svg
                      class="selected-btn"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path
                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                        fill="#ffffff"
                      ></path>
                    </svg>
                  </div>
                  <div class="select-wrapper">
                    <div
                      class="select-selected current-local"
                      style="display: none"
                    >
                      選擇地區
                    </div>
                    <div class="select-items local"></div>
                    <div
                      class="select-selected current-station"
                      style="display: none"
                    >
                      選擇測站
                    </div>
                    <div class="select-items station"></div>
                  </div>
                </div>
              </div>

              <div class="setting-item-content" style="display: none">
                <span class="setting-item-title">預警條件</span>
                <span class="description">
                  即時測站(任一站)為觸發時任一站震度門檻，預估震度(所在地)為地震預警時所在地震度門檻，達到下方任一條件後軟體將會發出音效及彈出視窗。
                </span>
                <div class="setting-option warning-realtime-station">
                  <div class="location">
                    <span class="current-realtime-station"
                      >即時測站（任一站）<span class="realtime-int"
                        >0級</span
                      ></span
                    >
                    <svg
                      class="selected-btn"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path
                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                        fill="#ffffff"
                      ></path>
                    </svg>
                  </div>
                  <div class="select-wrapper">
                    <div
                      class="select-selected current-local"
                      style="display: none"
                    >
                      選擇地區
                    </div>
                    <div class="select-items int"></div>
                  </div>
                </div>
                <div class="setting-option warning-estimate-int">
                  <div class="location">
                    <span class="current-estimate-int"
                      >預估震度（所在地）<span class="estimate-int"
                        >0級</span
                      ></span
                    >
                    <svg
                      class="selected-btn"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path
                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                        fill="#ffffff"
                      ></path>
                    </svg>
                  </div>
                  <div class="select-wrapper">
                    <div
                      class="select-selected current-local"
                      style="display: none"
                    >
                      選擇地區
                    </div>
                    <div class="select-items int"></div>
                  </div>
                </div>
              </div>

              <div class="setting-item-content" style="display: none">
                <span class="setting-item-title">顯示視窗</span>
                <span class="description"> 程式自動跳窗時機。 </span>
                <div class="setting-option">
                  <div class="supports">
                    <span>地震預警</span>
                    <label class="switch">
                      <input id="show-window-eew" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>地震報告</span>
                    <label class="switch">
                      <input id="show-window-report" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>地震檢知</span>
                    <label class="switch">
                      <input id="show-window-detect" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>近即時震度</span>
                    <label class="switch">
                      <input id="show-window-realtime-int" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">TREM EEW</span>
                <span class="description">
                  TREM-EEW是利用TREM-Net觀測網計算的地震預警訊息，即時資料為非公開，一般使用者在開啟後可在重播(震後5分鐘)中看到效果。
                </span>
                <div class="setting-option">
                  <div>
                    <span>接收TREM EEW</span>
                    <label class="switch">
                      <input id="early-warning-TREM" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">其他功能</span>
                <span class="description">
                  TREM Lite不常用的小功能都在這裡。
                </span>
                <div class="setting-option">
                  <div>
                    <span>開機自動啟動（Windows）</span>
                    <label class="switch">
                      <input id="other-auto-launch" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>語音播報（繁體中文）</span>
                    <label class="switch">
                      <input id="other-voice" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--圖形-->
          <div class="setting-options-page graphics">
            <div class="setting-page-title">圖形</div>

            <div class="setting-item-wrapper">
              <div class="setting-item-content" style="display: none">
                <span class="setting-item-title">地圖顯示效果</span>
                <span class="description"> 設定在地圖上的顯示效果。 </span>
                <div class="setting-option map-display-effect">
                  <div class="location">
                    <span class="current-effect"></span>
                    <svg
                      class="selected-btn"
                      xmlns="http://www.w3.org/2000/svg"
                      height="24"
                      viewBox="0 0 24 24"
                      width="24"
                    >
                      <path
                        d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"
                        fill="#ffffff"
                      ></path>
                    </svg>
                  </div>
                  <div class="select-wrapper">
                    <div
                      class="select-selected current-display-effect"
                      style="display: none"
                    >
                      選擇地區
                    </div>
                    <div class="select-items effect"></div>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">地圖自動縮放</span>
                <span class="description">預設地圖自動縮放為禁用狀態。</span>
                <div class="setting-option">
                  <div>
                    <span>禁用地圖自動縮放</span>
                    <label class="switch">
                      <input id="graphics-block-auto-zoom" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">顯示斷層</span>
                <span class="description">在地圖上顯示臺灣本島斷層分布。</span>
                <div class="setting-option">
                  <div>
                    <span>顯示斷層</span>
                    <label class="switch">
                      <input id="graphics-show-fault" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--音效-->
          <div class="setting-options-page sound-effects">
            <div class="setting-page-title">音效</div>

            <div class="setting-item-wrapper">
              <div class="setting-item-content" style="display: none">
                <span class="setting-item-title">預警播報</span>
                <span class="description"
                  >地震發生時播報所在地預估震度以及地震波抵達剩餘秒數。</span
                >
                <div class="setting-option">
                  <div class="CWA">
                    <span>咚咚咚音效(僅在有倒數情況下生效)</span>
                    <label class="switch">
                      <input id="sound-effects-dong" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">音效列表</span>
                <span class="description">開啟或關閉特定的音效</span>
                <div class="setting-option">
                  <div>
                    <span>EEW（收到地震預警時播放）</span>
                    <label class="switch">
                      <input id="sound-effects-EEW" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >EEW2（最大預估<span class="special-text">震度5弱</span
                      >以上播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-EEW2" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>P-Alert（收到近即時震度時播放）</span>
                    <label class="switch">
                      <input id="sound-effects-PAlert" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >PGA1（PGA ><span class="special-text"> 8gal </span
                      >時播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-PGA1" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >PGA2（PGA >
                      <span class="special-text">200gal </span>時播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-PGA2" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>Report（收到地震報告時播放）</span>
                    <label class="switch">
                      <input id="sound-effects-Report" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >Shindo0（地震檢知<span class="special-text">震度0級</span
                      >以上播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-Shindo0" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >Shindo1（地震檢知<span class="special-text">震度2級</span
                      >以上播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-Shindo1" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span
                      >Shindo2（地震檢知<span class="special-text">震度4級</span
                      >以上播放）</span
                    >
                    <label class="switch">
                      <input id="sound-effects-Shindo2" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                  <div>
                    <span>Update（地震預警更正時播放）</span>
                    <label class="switch">
                      <input id="sound-effects-Update" type="checkbox" />
                      <div class="slider round"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--擴充-->
          <div class="setting-options-page extended">
            <div class="setting-page-title">擴充</div>

            <div class="setting-item-wrapper">
              <div class="setting-item-content">
                <span class="setting-item-title">擴充列表</span>
                <span class="description"
                  >選擇啟用的擴充，擴充將在程式啟動時載入。</span
                >
                <div class="setting-option">
                  <div class="extended-info">
                    <span
                      >使用來源不明或無法信任的擴充可能危及您的個人資訊安全，請謹慎使用。</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--關於-->
          <div class="setting-options-page info">
            <div class="setting-page-title">關於</div>

            <div class="setting-item-wrapper">
              <div class="setting-item-content">
                <span class="setting-item-title">關於TREM Lite</span>
                <span class="description"
                  >TREM-Lite是一款開源地震速報軟體，提供給您即時的地震資訊，利用自製的測站，顯示各地的即時震度，在地震發生的第一時間取得各管道發布的強震即時警報訊息。</span
                >
                <div class="setting-option">
                  <div class="setting-item">
                    <span>系統版本</span>
                    <span id="system_os">---</span>
                  </div>
                  <div class="setting-item">
                    <span>CPU</span>
                    <span id="system_cpu">---</span>
                  </div>
                </div>
              </div>

              <div class="setting-item-content setting-info">
                <span class="setting-item-title">資料來源</span>
                <div class="setting-option">
                  <div>
                    <div>
                      <span>地震預警</span>
                      <ul>
                        <li><span>交通部中央氣象署 (CWA)</span></li>
                      </ul>
                    </div>
                    <div>
                      <span>震度</span>
                      <ul>
                        <li><span>中央研究院 (SINICA)</span></li>
                        <li><span>臺灣即時地震監測 (TREM)</span></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="setting-item-content">
                <span class="setting-item-title">貢獻者</span>
                <span class="description"
                  >感謝以下的貢獻者們，因為有了他們的貢獻， TREM Lite
                  才得以實現。</span
                >
                <div class="setting-option contributor">
                  <div>
                    <div>
                      <img
                        src="https://contrib.rocks/image?repo=exptechtw/trem-lite"
                        class="responsive-image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="reset-confirm-wrapper" id="reset-wrapper">
          <div class="reset-confirm-content">
            <span>您確定要重置設定嗎？重設後將無法返回。</span>
            <div class="reset-confirm-btn">
              <div class="reset-sure"><span>確定</span></div>
              <div class="reset-cancel"><span>取消</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/setting/require.js" defer></script>
  </body>
</html>
