html[lang="ko_KR"] {
  .info-number-no {
    &::after {
      content: "위";
    }
  }

  .info-number-last::after {
    content: "최종 지진 경보 보고서";
  }

  .info-unit-none::after {
    content: "현재 지진 경보 없음";
  }

  .info-intensity::after {
    content: "예상 최대 강도";
  }

  .info-nsspe span::before {
    content: "NSSPE";
  }

  .info-footer-container::after {
    content: "에 생성됨";
  }

  .info-mag-text::after {
    content: "크기";
    right: 0;
    width: 3.5rem;
  }

  .info-depth-text::after {
    content: "깊이";
  }

  .info-title-wrapper {
    margin-top: 13px !important;
  }

  .info-mag-text,
  .info-depth-text {
    font-size: 23px !important;
  }

  .info-wrapper {
    min-width: 23rem !important;
  }

  .info-mag-val,
  .info-depth-val {
    margin-top: 3px !important;
  }
}
