@import url("../font.css");
@import url("./main/box.css");
@import url("../root/index.css");

body {
  user-select: none;
  margin: 0;
  font-family: Manrope, "Noto Sans TC", sans-serif;
  font-variant-numeric: tabular-nums;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  font-weight: bold;
}

.wave-container {
  display: block !important;
  position: relative;
  overflow: hidden;
  padding: 5px !important;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}
.wave-container.removing {
  transform: translateX(100%);
  opacity: 0;
}

.wave::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  animation: slide 2s linear infinite, fadeIn 0.5s ease-in;
  pointer-events: none;
}
.wave-unverified::after {
  background: repeating-linear-gradient(
    90deg,
    transparent 0%,
    transparent 35%,
    rgba(255, 0, 0, 0.2) 50%,
    transparent 65%,
    transparent 100%
  );
}
.wave-unloaded::after {
  background: repeating-linear-gradient(
    90deg,
    transparent 0%,
    transparent 35%,
    rgba(255, 215, 0, 0.2) 50%,
    transparent 65%,
    transparent 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.switch {
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s ease-in-out;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--light);
  transition: 0.4s ease-in-out;
}
.slider.round {
  border-radius: 24px;
}
.slider.round:before {
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--primary);
}
input:checked + .slider:before {
  transform: translateX(26px);
}
input[data-verified="false"]:checked + .slider {
  background-color: var(--danger);
}
input[data-loaded="false"]:checked + .slider {
  background-color: var(--warning);
}

.verified-badge,
.unverified-badge,
.unloaded-badge,
.loaded-badge {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin: 2px;
  width: max-content;
}
.verified-badge {
  background-color: var(--primary);
  color: var(--light);
}
.unverified-badge {
  background-color: var(--danger);
  color: var(--light);
}
.loaded-badge {
  background-color: var(--success);
  color: var(--light);
}
.unloaded-badge {
  background-color: var(--warning);
  color: var(--dark);
}

.plugin-list-title {
  font-size: 17px;
  font-weight: 900;
}
.status-box {
  padding: 6px !important;
  padding-left: 0 !important;
}
.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--dark) !important;
}
