@import url("./main/box.css");

body {
  user-select: none;
  margin: 0;
  font-family: Manrope, "Noto Sans TC", sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;

  --surface-hsl: 0deg 0% 25%;
  --surface-variant-hsl: 0deg 0% 20%;
  --background-hsl: 0deg 0% 13%;
  --background-variant-hsl: 0deg 0% 16%;
}
