@import url("./main/box.css");

body {
  user-select: none;
  margin: 0;
  font-family: Manrope, "Noto Sans TC", sans-serif;
  text-rendering: optimizeLegibility;
  overflow: hidden;

  --surface-hsl: 0deg 0% 25%;
  --surface-variant-hsl: 0deg 0% 20%;
  --background-hsl: 0deg 0% 13%;
  --background-variant-hsl: 0deg 0% 16%;
}

.wave-container {
  display: block !important;
  position: relative;
  overflow: hidden;
  padding: 5px !important;
}

.wave-unverified::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    transparent 0%,
    transparent 35%,
    rgba(255, 0, 0, 0.2) 50%,
    transparent 65%,
    transparent 100%
  );
  animation: slide 2s linear infinite, fadeIn 0.5s ease-in;
  pointer-events: none;
}

.wave-unloaded::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    transparent 0%,
    transparent 35%,
    rgba(255, 215, 0, 0.2) 50%,
    transparent 65%,
    transparent 100%
  );
  animation: slide 2s linear infinite, fadeIn 0.5s ease-in;
  pointer-events: none;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.switch {
  display: inline-block;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s ease-in-out;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s ease-in-out;
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

input:checked + .slider {
  background-color: #2196f3;
}

input[data-verified="false"]:checked + .slider {
  background-color: #ff4444;
}

input[data-loaded="false"]:checked + .slider {
  background-color: #ffd700;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(66.66%);
  }
}

.verified-badge,
.unverified-badge,
.unloaded-badge,
.loaded-badge {
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  margin: 2px;
  width: max-content;
}

.plugin-list-title {
  font-size: 17px;
  font-weight: 900;
}

.status-box {
  padding: 6px !important;
  padding-left: 0 !important;
}

.verified-badge {
  background-color: #2196f3;
  color: white;
}

.unverified-badge {
  background-color: #ff4444;
  color: white;
}

.loaded-badge {
  background-color: #4caf50;
  color: white;
}

.unloaded-badge {
  background-color: #ffd700;
  color: black;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: black !important;
}
