html,
body {
  outline: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff00;
  border-radius: 4px;
}

.switch {
  display: inline-block;
  width: 45px;
  height: 26px;
  position: sticky;
  left: 84vw;
}

.block {
  opacity: 0.5;
  pointer-events: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(12 16 22 / 20%);
  transition: 0.4s;
}

.slider.round {
  border-radius: 20px;

  &:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0.2rem;
    background-color: white;
    transition: 0.4s;
    border-radius: 15px;
  }
}

.switch input {
  display: none;
}

.switch input:checked + .slider {
  background-color: #1bd337;
  box-shadow: inset 0 0 3px rgb(0 0 0 /40%);

  &:before {
    transform: translateX(18px);
  }
}

.setting-wrapper {
  left: 0vw;
  height: 100%;
  min-height: 0;
  position: fixed;
  top: 0vw;
  width: 100%;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.setting-container {
  display: flex;
  flex-direction: inherit;
  height: 100%;
  min-height: 0;
}

.setting-header,
.setting-content {
  width: 27vw;
  color: #fff;
}

.setting-buttons {
  padding: 12px;
}

.button {
  background: rgb(44 51 68 / 61%);
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 44px;
  cursor: pointer;
}

.button.on {
  background: rgb(84 107 165 / 61%);
}

.button span {
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  color: #fff;
}

.setting-title span {
  font-size: 24px;
  font-weight: 500;
}

.top-frame {
  width: 73%;
  height: 60px;
  position: fixed;
}

.setting-options-page {
  align-items: center;
  display: none;
  flex-direction: column;
  gap: 8px;
  min-height: 0;
  padding: 12px 12px 12px 12px;
}

.setting-options-page.active {
  display: flex;
}

.setting-page-title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 1vw;
  position: relative;
  bottom: 0.5rem;
  z-index: 1;
}

.setting-content {
  background-color: rgb(45 45 45 / 94%);
  flex: 1;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border: 1px solid #ffffff42;
  border-left: none;
}

.setting-item-wrapper {
  position: absolute;
  top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  height: calc(100% - 85px);
  padding-bottom: 1.5rem;

  &:hover {
    overflow-y: auto;
  }
}

.setting-item-content {
  width: 50vw;
  margin-top: 3vw;
}

.setting-item-title {
  padding-left: 1vw;
}

.setting-option span {
  font-size: 15px;
  font-weight: normal;
}

.setting-item-title {
  font-size: 17px;
  font-weight: 500;
}

.setting-option {
  display: grid;
  background-color: #0000003b;
  border-radius: 10px;
  margin-top: 3vh;
}

.extended .setting-option {
  display: grid;
  justify-content: center;
}

.info .setting-option div {
  align-items: flex-start !important;
}

.setting-item-content
  div
  div:not(.select-items, .select-wrapper, .condition-items) {
  padding: 13px;
  justify-content: unset;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid black;
    border-color: rgb(255 255 255 / 2%);
  }
}

.select-option-selected {
  background-color: rgb(255 255 255 / 6%);
}

/**description**/
.setting-item-content .description {
  position: relative;
  top: 0.2rem;
  margin-left: 0.2rem;
  font-weight: 100 !important;
  font-size: 14px !important;
  display: flex;
  padding-left: 0.8vw;
}

.extended-info {
  color: #ff5656;
  align-items: center;
}

.extended-info .material-symbols-rounded {
  border-bottom: unset !important;
  border-color: unset !important;
  padding: 5px 5px 5px 5px;
}

.special-text {
  color: #ffc756;
}

.graphics .setting-option .selected-btn,
.general .setting-option .selected-btn {
  font-size: 25px;
  width: 45px;
  height: 26px;
  position: sticky;
  left: 84vw;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.current-local,
.current-city,
.current-town,
.separate {
  width: auto !important;
}

.location {
  cursor: pointer;
  border: unset !important;
  border-color: unset !important;
}

.setting-item {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row;
}

#version,
#system_os,
#system_cpu {
  padding: 0;
  color: #adadad;
  font-weight: bold;
  font-size: 15px;
}

.setting-info div div {
  flex-direction: column;
  padding: 10px;
}

.contributor ul {
  margin: 0;
}

li {
  list-style-type: square;
}

.back_to_home {
  border-radius: 30px;
  border: 1px solid #424a5b0d;
  height: 30px;
  width: 30px;
  background: #424a5b0d;
  margin-right: 0.6rem;
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.reset-confirm-wrapper {
  display: grid;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  bottom: -100%;
  transition: bottom 0.3s ease;
}

.reset-confirm-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: rgb(27 33 50 / 80%);
  backdrop-filter: blur(12px);
  padding: 15px;
  border-width: 1px 0px 0px 0px;
  border-color: #ffffff1c;
  border-style: solid;
}

.reset-confirm-content span {
  color: #fff;
}

.reset-confirm-btn div {
  border-radius: 5px;
  border: 1px solid #ffffff24;
  padding: 5px;
  width: 5rem;
  height: 1.5rem;
  text-align: center;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
}

.reset-confirm-btn {
  display: flex;
  margin-top: 1vw;
}

.reset-confirm-btn span {
  font-size: 15px;
}

.setting-range-content {
  width: 12vw;
  position: relative;
  left: 0vw;
  padding: 0 !important;
}

.select-wrapper {
  padding-top: 0px !important;
}

.select-items {
  position: relative;
  color: white;
  border-radius: 5px;
  width: 30%;
  overflow-y: auto;
  padding: 13px;
  display: grid;
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5em;
  overscroll-behavior: contain;
  align-items: center;
}

.local div,
.city div,
.town div,
.station div,
.int div,
.effect div {
  color: white;
  cursor: pointer;
  user-select: none;
  justify-content: center !important;
  scroll-snap-align: start;
  align-items: center;
  text-align: center;
}

.local div:hover,
.city div:hover,
.town div:hover,
.station div:hover,
.int div:hover,
.effect div:hover,
.select-option-selected {
  background-color: rgb(255 255 255 / 6%);
}

.station span:first-child {
  width: auto !important;
  margin-right: 4px;
}

.SE-Net {
  color: #ffc756;
}

.MS-Net {
  color: #56deff;
}

.select-arrow-active {
  border-color: #000 transparent transparent transparent;
}

.select-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  display: flex;
}

.select-wrapper.select-show-big {
  height: 1000px;
  max-height: 14rem;
}

.select-items.station {
  max-height: 14.4em;
  width: 100%;
}

.slider-container {
  position: relative;
  width: 10vw;
  height: 0.3em;
  background-color: #d3d3d3;
  border-radius: 5px;
  margin: 20px 0;
  padding: 0 !important;
}

.slider-track {
  height: 100%;
  background-color: #0073fc;
  border-radius: 5px;
  padding: 0 !important;
  border-color: unset !important;
  border-bottom: unset !important;
  height: 0.3rem;
  position: relative;
  top: 0em;
  right: 0.1em;
}

.slider-thumb {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px !important;
  height: 2px;
  width: 2px;
}

.slider-wrapper {
  padding: 0 !important;
  right: 0;
  width: 6vw;
  height: 26px;
  position: sticky;
  left: 69vw;
  transform: translate(-7%, 0%);
  align-items: center;
}

.usr-account-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
}

.usr-account-info-content {
  text-align: center;
}

.login-forms-content input {
  background: #fff0;
  height: 1.5vw;
  margin: 5px;
}

.usr-account-info-container {
  width: 21vw;
  justify-content: center;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: rgb(27 33 50 / 0%);
  backdrop-filter: blur(1px);
  padding: 15px;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff14;
  border-style: solid;
  overflow: hidden;
}

.usr-account-info-content {
  transform: translateX(-175%);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.login-forms-content {
  width: 100%;
  height: auto;
  position: static;
  top: 0;
  left: 0;
  display: none;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.show-login-form {
  display: grid;
  transform: translateX(0);
  opacity: 1;
}

.show-account-info {
  display: flex;
  transform: translateX(0%);
  opacity: 1;
  flex-direction: column;
  align-items: center;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_msg {
  font-weight: bold;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(10px);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

.login-form-input {
  .shake {
    animation: shake 0.2s ease;
  }

  .error {
    color: #ff7373;
  }

  .success {
    color: #73ff96;
  }
}

::-webkit-input-placeholder {
  color: #fff;
}

.login-forms-content input {
  background-color: #f9f9f900;
  border: 1px solid #ffffff1f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: "Noto Sans TC", sans-serif;
  width: 100%;

  &:focus {
    border-color: #aad7fc80;
    outline: none;
  }
}

.login-back {
  display: flex;
  font-size: 15px;
  align-items: flex-end;
  color: #377aff;
  font-weight: bold;
  margin-bottom: 0.5vw;
  cursor: pointer;
  width: 100%;

  &:hover {
    color: #4e89ff;
  }
}

.login-back div {
  font-size: 18px;
}

.vip_time {
  margin-top: 1vh;
}

.login-btn {
  border-radius: 5px;
  border: 1px solid #ffffff24;
  padding: 5px;
  width: 5rem;
  height: 1.5rem;
  text-align: center;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.logout-btn {
  border-radius: 5px;
  border: 1px solid #ffffff24;
  padding: 5px;
  width: 5rem;
  height: 1.5rem;
  text-align: center;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  cursor: pointer;
  align-items: center;
  display: none;
  justify-content: center;
  margin-top: 2vh;
}

#forget {
  margin-top: 0.5vw;
  cursor: pointer;
  color: #ff6060;
  text-decoration: none;
  border-bottom: 0px dotted;
}

.realtime-int,
.estimate-int {
  border: 1px solid #ffffff36;
  width: 35px;
  display: inline-flex;
  text-align: center;
  border-radius: 5px;
  height: 24px;
  justify-content: center;
}

.warning-realtime-station .select-items,
.warning-estimate-int .select-items,
.map-display-effect .select-items {
  width: 100%;
  justify-content: center;
  display: block;
}

.int div {
  justify-content: center !important;
  font-weight: 100;
  font-family: auto;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.setting-header {
  background-color: rgb(77 77 77 / 94%);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border: 1px solid #ffffff42;
  border-right: none;
  z-index: 2;
}

.top-frame {
  -webkit-app-region: drag;
  user-select: none;
}

.windows-wrapper {
  position: absolute;
  right: 0.8em;
  display: flex;
  justify-content: space-between;
  width: 4rem;
  flex-direction: row;
  flex-wrap: wrap;
  top: 0.6em;
  font-weight: bold;
  -webkit-app-region: no-drag;
}

.minimize,
.close {
  margin-top: 2px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}

.windows-buttons {
  border: 1px solid #616161;
  width: 25px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  display: flex;
}
