.rts-trigger-low {
  background-color: var(--rts-trigger-low) !important;
  border: 1px solid var(--rts-trigger-low) !important;
}

.rts-trigger-middle {
  background-color: var(--rts-trigger-middle) !important;
  border: 1px solid var(--rts-trigger-middle) !important;
}

.rts-trigger-high {
  background-color: var(--rts-trigger-high) !important;
  border: 1px solid var(--rts-trigger-high) !important;
}

.eew-warn {
  background-color: var(--eew-s-warn) !important;
  border: 1px solid var(--eew-s-warn) !important;
}

.eew-alert {
  background-color: var(--eew-s-alert) !important;
  border: 1px solid var(--eew-s-alert) !important;
}

.eew-cancel {
  background-color: var(--eew-s-cancel) !important;
  border: 1px solid var(--eew-s-cancel) !important;
}

.eew-rts {
  background-color: var(--eew-s-rts) !important;
  border: 1px solid var(--eew-s-rts) !important;
}

.trigger-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.trigger-areas {
  width: 100%;
}

.area-name {
  font-size: 14px;
}

.info-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 4px;
  padding: 8px;
  width: auto;
  z-index: 1001;
  border-radius: 5px;
  border: 1px solid #515151;
  background-color: #505050c7;
  color: var(--light);
  pointer-events: none;
}

.info-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.info-title {
  display: flex;
  padding: 0 8px;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.info-title .info-unit,
.info-title .info-number {
  font-size: 15px;
}

.info-time {
  display: flex;
  gap: 5px;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.info-intensity {
  opacity: 0.75;
  font-size: 12px;
  margin-top: 5px;
}

.info-body-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px;
  min-height: 93px;
  position: relative;
  border-radius: 10px;
  background-color: #383838;
  min-width: 18.9rem;
}

.no-eew .info-box,
.no-eew .info-footer {
  display: none !important;
}

.info-box {
  display: flex;
  height: 72px;
  gap: 8px;
  opacity: 1;
}

.info-title-box {
  width: 75px;
  height: 75px;
  display: grid;
  text-align: center;
  line-height: 60px;
  font-size: 45px;
  font-weight: bold;
  padding: 5px;
  border-radius: 12px;
}

.info-more {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.info-more .info-loc {
  font-size: 24px;
  font-weight: bold;
}

.info-mag-dep {
  display: flex;
  justify-content: space-between;
}

.info-mag,
.info-depth {
  display: flex;
  gap: 4px;
  position: relative;
  isolation: isolate;
}

.info-mag-text,
.info-depth-text {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.1;
}

.info-mag-val,
.info-depth-val {
  font-size: 26px;
  font-weight: bold;
  width: 60px;
  margin-top: 8px;
}

.info-mag-val:before {
  content: "𝖬";
  font-size: 22px;
  margin-right: 4px;
}

.info-depth-val:after {
  content: "㎞";
  font-size: 22px;
  margin-left: 4px;
}

.info-footer {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  justify-content: space-evenly;
}

.info-nsspe-title {
  margin-right: 0.3em;
}

.info-nsspe {
  display: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.nsspe .info-nsspe {
  display: block;
  margin-top: 6px;
}

.nsspe .info-mag-dep {
  display: none !important;
}

.cancel-box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgb(0 0 0 / 10%);
  opacity: 0;
  flex-direction: column;
}

.cancel-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
}

.cancel-body {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

/* .eew-cancel .cancel-box {
  opacity: 1;
} */

.eew-cancel .info-box {
  opacity: 1;
}
