@import url("../font.css");
@import url("../index/eew/eew.css");
@import url("../root/index.css");
@import url("../text/index.css");

body {
  -webkit-app-region: drag;
  background-color: unset !important;
  border-radius: unset !important;
  width: 100%;
  user-select: unset;
  margin: 0px;
  font-family: Manrope, "Noto Sans TC", sans-serif;
  font-variant-numeric: tabular-nums;
  text-rendering: optimizeLegibility;
}

.info-unit,
.info-number {
  font-size: 13px !important;
}
.info-depth {
  width: 90px;
}
.info-mag-val,
.info-depth-val {
  font-size: 20px;
  margin-top: 7px;
}

.info-mag-val {
  text-align: left;
}

.info-depth-val {
  text-align: right;
}

.info-depth {
  justify-content: flex-end;
}

.info-mag {
  justify-content: flex-start;
}

#pip-info-wrapper {
  width: 99%;
  height: 99%;
  background-color: rgb(80, 80, 80);
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  border: unset !important;
}

.info-title {
  margin-top: 5px;
  margin-left: 5px;
}
.info-body-wrapper {
  height: 100%;
  margin: 10px;
  background-color: rgba(56, 56, 56, 0.9) !important;
  margin-top: 0;
  min-height: unset !important;
  padding: 5px !important;
  display: unset !important;
}
.info-box,
.info-more {
  height: 100% !important;
}
.info-more {
  justify-content: center;
  gap: 8px;
  margin-top: 3px;
}

.info-mag-text,
.info-depth-text {
  font-size: 24px !important;
}
.info-mag-text {
  width: 100px !important;
}
.info-mag-val:before {
  font-size: 20px !important;
}
.info-depth-val:after {
  font-size: 17px !important;
  margin-left: 2px !important;
}

.info-title-box {
  width: 55px !important;
  height: 55px !important;
  font-size: 35px !important;
  line-height: unset !important;
}

.info-loc {
  font-size: 20px !important;
}
.eew-warn {
  border: 0px solid var(--eew-s-warn) !important;
}

.window-button-wrapper,
.window-button-contain {
  -webkit-app-region: drag;
  pointer-events: auto;
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: row;
  z-index: 1002;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  user-select: unset;
  display: none;
}
.window-button-contain {
  background: #000000bd;
}

.minimize,
.close {
  -webkit-app-region: no-drag;
  pointer-events: all;
  cursor: pointer;
  padding: 5px;
  height: 25px;
  user-select: none;
  position: absolute;
  top: 0;
  z-index: 1001;
}
.minimize {
  left: 0;
}
.close {
  right: 0;
  border-radius: 5px;
  color: var(--light);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intensity-0:not(
    #max-intensity,
    #max-pga,
    #current-station-intensity,
    .rts-intensity
  )::after {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-time {
  font-size: 12px;
}

@media (max-width: 980px) {
  .info-wrapper {
    width: 275px;
    max-width: 290px;
  }
  .info-loc {
    font-size: 18px !important;
  }
  .info-unit,
  .info-number {
    font-size: 14px !important;
  }
  .info-title-box {
    width: 55px !important;
    height: 55px !important;
    font-size: 35px !important;
  }
  .info-mag-val,
  .info-depth-val {
    font-size: 20px !important;
  }
  .info-body-wrapper {
    min-height: 85px !important;
    min-width: unset;
  }
}
@media (max-height: 660px) {
  .intensity-color-list {
    height: 185px !important;
  }
}
@media (max-height: 635px) {
  .intensity-color-list {
    display: none !important;
  }
}
