html[lang="en-us"] {
  .info-number-no {
    &::before {
      content: "No.";
    }
  }

  .info-number-last::after {
    content: "Final Report";
  }

  .info-unit-none::after {
    content: "No Earthquake Warnings";
  }

  .info-intensity::after {
    content: "Est. Max Intensity";
  }

  .info-nsspe span::before {
    content: "NSSPE";
  }

  .info-footer-container::before {
    content: "On";
  }

  .info-footer-container::after {
    content: "Occurred";
  }

  .info-mag-text::after {
    content: "Magnitude";
    right: 0;
    width: 3.5rem;
  }

  .info-depth-text::after {
    content: "Depth";
  }

  .info-title-box {
    line-height: 75px !important;
  }

  .info-title-wrapper {
    margin-top: 13px !important;
  }

  .info-mag-text,
  .info-depth-text {
    font-size: 23px !important;
  }

  .info-wrapper {
    min-width: 23rem !important;
  }

  .info-mag-val,
  .info-depth-val {
    margin-top: 3px !important;
  }
}
