<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/core/loading.css" />
  </head>
  <body>
    <div class="container">
      <div class="windows-wrapper">
        <div class="windows-buttons minimize">━</div>
        <div class="windows-buttons close">✖</div>
      </div>
      <div class="editor-container" id="editorContainer">
        <div class="section" id="yamlSection">
          <h3 class="section-title yaml-title"></h3>
          <textarea
            id="editor"
            class="editor"
            placeholder="YAML 內容..."
            spellcheck="false"
          ></textarea>
        </div>
      </div>
      <div id="status" class="status"></div>
    </div>

    <script src="../js/plugin_edit/require.js" defer></script>
  </body>
</html>
