.report-intensity-text::before {
  content: "觀測最大震度";
}

/** 最外包 **/
.report-wrapper.hidden {
  transform: translateX(93%);
}

.report-wrapper {
  position: absolute;
  top: 0;
  bottom: -15px;
  right: 0;
  width: 340px;
  max-width: 340px;
  z-index: 1001;
  transition: opacity 0.2s cubic-bezier(0.3, 0, 0.8, 0.15),
    transform 0.2s cubic-bezier(0.3, 0, 0.8, 0.15);

  .report-box-items {
    overflow: hidden;
    background-color: #464646;
    padding-top: 3px;
    position: absolute;
    top: 0;
    bottom: 10px;
    right: 0;
    width: 310px;

    .survey {
      background-color: #292929 !important;

      .report-mag-dep {
        display: none;
      }

      .report-loc:before {
        content: "震源調查中";
      }
    }

    &:hover {
      bottom: -8px;
      overflow: scroll;
    }
  }

  .report-list-btn {
    cursor: pointer;
    width: 20px;
    background: #fff;
    margin-top: 5px;
  }

  .off {
    transform: scaleX(-1);
  }

  /** 盒容器 **/
  .report-box-item-contain {
    margin-bottom: 4px;
    display: flex;
    gap: 8px;
    background-color: #292929;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #ffffff38;
    transition: background-color 0.4s ease;

    &:hover {
      background-color: #8a8a8ac7;
    }

    /** 觀測最大震度 **/
    .report-intensity-text {
      display: none;
    }

    .report-intensity-val {
      width: 62px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      border-radius: 12px;
      font-size: 2em;
      font-weight: bold;
    }

    /** 震央、時間 **/
    .report-info-item {
      font-weight: bold;

      .report-loc {
        font-size: 21px;
      }

      .report-time {
        font-size: 13px;
      }
    }

    /** 資訊盒 **/
    .report-info-box {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;

      /** 規模 **/
      .report-mag {
        font-size: 28px;
        width: 60px;

        .report-mag-text {
          font-size: 23px;
          font-weight: bold;

          span {
            font-size: 30px;
          }
        }

        .normal {
          color: #fff;
        }
      }
    }

    .report-mag-dep {
      display: flex;
      justify-content: space-between;
      margin-right: 0.3em;

      .report-mag,
      .report-depth {
        position: relative;
        display: flex;
        gap: 4px;
        height: 28px;
        isolation: isolate;

        .report-mag-text,
        .report-depth-text {
          position: absolute;
          line-height: 28px;
          font-size: 28px;
          font-weight: bold;
          opacity: 0.15;
        }
      }

      .report-mag-val {
        font-size: 20px;
        font-weight: bold;

        &:before {
          content: "𝖬";
          font-size: 20px;
          margin-right: 4px;
        }
      }

      .report-depth {
        display: none;
        font-size: 28px;
        width: 60px;
        justify-content: flex-end;

        .report-depth-val {
          font-size: 20px;
          font-weight: bold;

          &:after {
            content: "㎞";
            font-size: 15px;
            margin-left: 4px;
          }
        }
      }
    }
  }

  /** 震度、深度 **/
  .report-box-item-contain:first-child {
    padding: 10px;

    .report-intensity-text {
      font-size: 13px;
      font-weight: bold;
      margin-top: 0.3em;
      display: block;
    }

    .report-intensity-val {
      width: 80px;
      height: 80px;
      font-size: 3em;
    }

    .report-mag-dep {
      width: 100%;
      margin-top: 0.3em;
    }

    .report-mag-val {
      margin-top: 5px;
    }

    .report-info-box {
      flex-direction: column;
      align-items: stretch;

      .report-info-item {
        height: auto;

        .report-loc {
          font-size: 28px;
        }
      }
    }

    .report-mag-text {
      display: flex;
      gap: 4px;
      font-size: 28px;
      flex: 1 1 0%;
    }

    .report-depth {
      display: flex;
    }

    .report-depth-val {
      font-size: 24px;
      line-height: 36px;

      &:after {
        content: "km";
        font-size: 14px;
        font-weight: bold;
        line-height: 28px;
      }
    }
  }
}
